.spacer50 {
	height: 50px;
}

.shift_down {
	position: relative;
	top: 5px;
}

.center_align {
	text-align: center;
}

.offset_right {
	position: relative;
	left: 34px;
}

.black {
	color: black;
}

.white {
	color: white;
}
